/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* ========================================= */
/* Скидання стилів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* === GALLERY === */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1136px;
  padding: 20px;
  gap: 20px 24px;
  list-style-type: none;
}

.gallery-item {
  flex: 1 1 calc(33.333% - 24px);
}

.gallery-link {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

/* Стилі SimpleLightbox */
.simple-lightbox .sl-overlay {
  background-color: rgba(46, 47, 66, 0.8);
}

.simple-lightbox .sl-wrapper {
  text-align: center;
}

.simple-lightbox .sl-image {
  max-width: 1112px;
  max-height: 640px;
  object-fit: contain;
}

.simple-lightbox .sl-caption {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.simple-lightbox .sl-caption.visible {
  opacity: 1;
}
