/* Скидання стилів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* === GALLERY === */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 24px;
  list-style-type: none;
  width: calc((320px * 3) + (24px * 2));
}

.gallery-item {
  width: 320px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

/* ============= Модальне вікно =============== */
.simple-lightbox {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 1440px;
  height: 696px;
}

.simple-lightbox img {
  max-width: 1112px;
  max-height: 640px;
  object-fit: contain;
}

/* !=============================================! */
/* ============ Form style ===================== */
.feedback-form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.feedback-form input[type='email'],
.feedback-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  transition: border 0.3s ease;
  color: #2e2f42;
}

.feedback-form textarea {
  resize: vertical;
}

.feedback-form input[type='email']:hover,
.feedback-form textarea:hover {
  border-width: 2px;
  border-color: #888;
}

.feedback-form input[type='email']:focus,
.feedback-form textarea:focus {
  border-width: 1px;
  border-color: #555;
  outline: none;
}

.feedback-form button[type='submit'] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.feedback-form button[type='submit']:hover {
  background: #6c8cff;
}
